body {
  font: 14px "Helvetica Nueue", "Lucida Grande", Arial, sans-serif;
  padding: 50px 80px;
  margin: 0;
}

h1 {
  color: #a04;
}

h2 {
  margin-top: 50px;
}

h2.err {
  background-color: #fee;
  color: red;
  padding: 5px 20px;
}

h2.ok {
  background-color: #efe;
  color: #080;
  padding: 5px 20px;
}

table {
  border-spacing: 0;
}

table tr td {
  padding: 5px 15px;
  border-bottom: 2px solid white
}

table tr td:nth-child(1) {
  background-color: #eee;
  font-size: 12px;
  color: #aaa;
}

table tr td:nth-child(2) {
  background-color: #f5f5f5;
  color: #448;
}

table.err tr td:nth-child(2) {
  color: #a04;
}

table.ok tr td:nth-child(2) {
  color: #082;
}

em {
  padding: 3px 5px;
  color: #666;
  background-color: #f5f5f5;
  border-radius: 2px;
  font-style: normal;
}

.access_token,
.url,
.client_secret {
  font-size: 12px;
}

p.msg {
  margin-top: 50px;
  text-align: center;
  background-color: #eee;
  padding: 5px;
}

p.msg a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #004;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

p.msg a:hover {
  color: #00a;
  text-decoration: underline;
}
