
extends layout

block content
  p Simple application to test 
    a(href="https://www.github.com/cloudup/wp-oauth") WPOAuth module.

  h2.err Error
  table.err
    tr
      td error
      td #{error}
    tr
      td description
      td #{error_description}
  p.msg
    a(href='/') Try again ?
